* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}
img {
  width: 100%;
}
video {
  width: 100%;
}
main,
header,
footer,
nav {
  max-width: 1688px;
  background-color: var(--background);
}
a {
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 1.4rem;
}
:root {
  --font-color: #fff;
  --background: #e60012;
  --font-size: 16px;
  --card-background: #ac010e;
  --card-border-color: #920101;
  --footer-background: #811212;
  --nav-and-footer-background: black;
  --card-shadow: 11px -7px 4px 0px rgba(0, 0, 0, 0.25);
}
h1 {
  width: 90%;
  color: var(--font-color);
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.03rem;
}
h3 {
  font-size: 1.3rem;
}
h4 {
  font-size: 1.1rem;
}
header {
  background-image: url(../imgs/introduccion-fondo.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  display: flex;
  position: fixed;
  background-color: var(--nav-and-footer-background);
  width: 100%;
  padding: 1.1rem 0 1.2rem 0;
  z-index: 99;
}

.nav-icon-container {
  display: none;
}
.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 30px;
  margin: 0px 0px 0px 1.3rem;
  cursor: pointer;
}
.hamburger-menu span {
  width: 100%;
  height: 3px;
  background-color: white;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.hamburger-menu.open {
  display: none;
}
.nav-links-container {
  position: fixed;
  top: 0;
  left: -100%;
  width: 60%;
  height: 100vh;
  background-color: var(--nav-and-footer-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  transition: left 0.3s ease;
  z-index: 98;
}

.nav-links-container.open {
  left: 0;
}
.section-introduction {
  width: 100%;
  display: flex;
  padding: 8rem 0 0 0;
  flex-direction: column;
  gap: 4.5rem;
  align-items: center;
  padding-bottom: 3rem;
}

.introduction-title-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.introduction-title-container p {
  width: 90%;
  color: var(--font-color);
  text-align: center;
  text-shadow: -6px 3px 4px rgb(0 0 0);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
  letter-spacing: -0.0675rem;
}
.introduction-image-container {
  display: none;
}
.introduction-text-container {
  width: 90%;
  color: var(--font-color);
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5625rem;
  text-shadow: 3px 0px 20px rgb(0 0 0);
}
.introduction-video-container {
  width: 80%;
  max-width: 1000px;
  aspect-ratio: 16 / 9;
}

.introduction-video-container iframe {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.section-principal-features {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 6rem 0 6rem 0;
  gap: 5rem;
}
.principal-features-title-container,
.principal-features-text-container,
.principal-features-feats-container {
  width: 90%;
  line-height: 1.25rem;
  max-width: 1000px;
}
.principal-features-luigi-decoration {
  display: none;
}
.principal-features-text-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1.4rem;
  color: var(--font-color);
  line-height: 1.5rem;
}
.principal-features-feats-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
  max-width: 500px;
  gap: 2.5rem;
}
.principal-features-title-container h2 {
  color: var(--font-color);
  text-align: center;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: -0.025rem;
}
.principal-features-star-decoration {
  display: none;
}
.section-modes {
  background: linear-gradient(
    307deg,
    var(--footer-background) 49%,
    rgba(255, 253, 253, 1) 49%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 5rem 0px 5rem 0px;
}
.modes-introduction {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  line-height: 1.7;
  text-align: center;
}
.modes {
  width: 90%;
  max-width: 570px;
  padding: 2rem 0rem 0rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-align: center;
}
.modes div {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.modes:nth-child(odd) {
  background-color: #ebc24b;
}
.modes:nth-child(even) {
}
.modes:nth-child(2) {
  background-color: #a7c1d3;
}
.modes:nth-child(4) {
  background-color: #7af3bf;
}

.feats-card {
  max-width: 270px;
  height: 32.875rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: var(--font-color);
  background-color: var(--card-background);
  border: solid var(--card-border-color);
  box-shadow: var(--card-shadow);
  border-radius: 0.9375rem;
  gap: 1.25rem;
  padding: 1rem 0 1rem 0;
}
.card-title,
.card-img,
.card-text {
  text-align: center;
  width: 90%;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem;
}

.section-joyCon {
  line-height: 1.5rem;
  color: var(--font-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--nav-and-footer-background);
  text-align: center;
  padding-bottom: 4rem;
}
.joycon-introduction {
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-top: 11rem;
}
.joycon-text-one-container {
  margin-top: 2rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.joycon-imgs {
  width: 90%;
}

.joycon-text-two-container {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.joycon-text-two {
  width: 100%;
  padding-bottom: 0.33rem;
}

.joycon-imgs-two {
  width: 90%;
}

.joycon-introduction-img {
  position: absolute;
  max-width: 600px;
  width: 90%;
  z-index: 1;
  filter: drop-shadow(1px -4px 300px rgba(255, 255, 255, 1));
}

.joycon-introduction-title {
  position: relative;
  font-size: 1.3rem;
  text-align: center;
  line-height: 1.2;
  width: 40%;
  left: 18vw;
  bottom: 2vw;
  z-index: 2;
}
.joycon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 9rem;
}
.joycon-description {
  font-size: 1.2rem;
  line-height: 1.5;
  position: relative;
  width: 55%;
  top: calc(50vh - 30vh);
  gap: 1.6rem;
  padding: 0rem 0 7.6rem 0;
}
.joycon-text {
  width: 75%;
  padding-bottom: 1.5rem;
}
.joycon-text-two {
  width: 75%;
  padding-bottom: 1.5rem;
}
.joycon-subtitle {
  display: flex;
  width: 75%;
  flex-direction: column;
  gap: 1.6rem;
}
.joycon-try-new {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 2.2rem 0 1.2rem 0;
}
.try-new-img-container {
  width: 80%;
  max-width: 900px;
  padding-top: 1.2rem;
  filter: drop-shadow(0px 48px 485px rgba(255, 255, 255, 1));
}
.try-new-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-games-galery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--font-color);
  line-height: 1.5rem;
  padding-top: 4rem;
  text-align: center;
}
.games-galery-titles-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 1.8rem;
  width: 90%;
}
.games-imgs-container {
  max-width: 21rem;
  background-image: url(../imgs/decoracion-movil.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 3rem;
  width: 90%;
  background-position-y: 1rem;
}
.games-imgs-container div {
  max-width: 300px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
  background-color: var(--nav-and-footer-background);
  color: var(--font-color);
}
.footer-links {
  width: 100%;
  display: flex;
  align-items: center;
  max-width: 500px;
  position: relative;
  padding: 2rem 0 2rem 0;
  justify-content: space-around;
}

.footer-links::after,
.footer-email::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background: white;
  bottom: 0.4rem;
  left: 0;
}
.footer-img-my {
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 250px;
  margin-top: 1rem;
  width: 50%;
}
.footer-email {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.try-new-img-tablet {
  display: none;
}

.contact-form-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  background: #1f0505;
}

.form-titles {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 2rem;
}
.form-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 1px 0px 20px 20px rgb(128 5 15 / 71%);
}
.form-container a {
  color: var(--nav-and-footer-background);
  font-size: 1rem;
}
.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

label {
  font-size: 1rem;
  margin-bottom: 8px;
}

input,
select,
textarea {
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid var(--nav-and-footer-background);
  border-radius: 10px;
}

.submit-btn {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  background-color: #cc000e;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-btn:hover {
  transition: 0.3s;
  background-color: var(--background);
}

.hamburger-menu.open span:nth-child(1) {
  transform: rotate(45deg) translateY(8px);
}

.hamburger-menu.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-menu.open span:nth-child(3) {
  transform: rotate(-45deg) translateY(-8px);
}

@media screen and (min-width: 760px) {
  h1 {
    max-width: 25rem;
    font-size: 3.3rem;
  }
  h2 {
    font-size: 1.9rem;
    line-height: 1.2;
  }
  h3 {
    font-size: 1.4rem;
  }
  p {
    font-size: 1.2rem;
    line-height: 1.5;
  }
  a {
    font-size: 1.1rem;
  }
  header {
    background-image: none;
  }

  .introduction-title-container p {
    width: 70%;
    line-height: 2rem;
    font-size: 1.3rem;
    text-shadow: none;
  }
  .introduction-title-container {
    max-width: 600px;
  }

  .introduction-text-container p {
    font-size: 1rem;
    max-width: 988px;
    color: white;
    line-height: 1.8rem;
    width: 60%;
    align-items: center;
  }
  .introduction-image-container {
    display: block;
    max-width: 600px;
  }
  .principal-features-feats-container {
    max-width: 600px;
  }
  .joycon-subtitle {
    text-align: left;
    padding: 0rem 0 1rem 3rem;
  }
  .introducction-container {
    display: flex;
  }

  .joycon-text {
    text-align: left;
    padding-left: 3rem;
  }
  .joycon-text-one-container {
    margin-top: 2rem;
    width: 100%;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
  }
  .joycon-imgs {
    width: 40%;
    padding-left: 3rem;
  }
  .games-imgs-container {
    background-image: url(../imgs/fondo-galeria-tablet.svg);
    background-position-y: 1rem;
    max-width: 43rem;
  }

  .joycon-text-two-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .joycon-text-two {
    width: 48%;
    text-align: left;
    padding-right: 2rem;
  }

  .joycon-imgs-two {
    width: 40%;
    padding-right: 5rem;
  }
  .try-new-img-movile {
    display: none;
  }
  .try-new-img-tablet {
    display: block;
  }
  .section-introduction {
    padding: 8rem 0 0 0;
  }

  form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 70px;
  }

  .form-group {
    margin-bottom: 0;
  }
  .form-container {
    max-width: 800px;
  }

  .submit-btn {
    grid-column: 1 / -1; /* Abarca todas las columnas */
  }
  .introduction-text-container {
    background-color: none;
    background-image: url(../imgs/switch-pantalla-completa.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: unset;
    max-width: 53rem;
    color: var(--nav-and-footer-background);
    box-shadow: unset;
    border: unset;
    text-shadow: none;
    padding: 1rem;
    border-radius: 30px;
  }
  .submit-btn {
    font-size: 1rem;
    padding: 0.8rem 1rem;
  }
}

@media screen and (min-width: 1160px) {
  h1 {
    font-size: 3.3rem;
    max-width: 470px;
    width: 80%;
  }
  h2 {
    font-size: 2.125rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  a {
    font-size: 1.4rem;
  }
  p {
    font-size: 1.3rem;
    max-width: 1000px;
    line-height: 2.5rem;
  }
  nav {
    align-items: center;
    justify-content: space-around;
    padding: 0.7rem 0 0.7rem 0;
  }

  .nav-icon-container {
    height: 100%;
  }
  .nav-links-container {
    width: 50%;
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  nav a:hover {
    background: linear-gradient(
      90deg,
      rgb(79, 164, 248) 0%,
      rgb(238, 85, 233) 50%,
      rgb(253, 100, 123) 100%
    );
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    transition: 1s;
  }
  .nav-links-container {
    height: 0;
    background-color: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    z-index: 98;
  }
  .nav-movile-img {
    display: none;
  }
  .nav-icon-container {
    display: block;
  }
  .hamburger-menu {
    display: none;
  }
  .introduction-title-container {
    width: 55%;
  }
  .introduction-text-container p {
    font-size: 1.2rem;
    max-width: 988px;
    color: white;
    line-height: 2rem;
    width: 60%;
  }
  .introduction-title-container p {
    line-height: 2rem;
    font-size: 1.5rem;
    width: 100%;
    max-width: 520px;
  }

  .card-text p {
    font-size: 1rem;
    line-height: 1.875rem;
  }
  .principal-features-text-container {
    gap: 2.4rem;
  }

  .games-imgs-container {
    max-width: 48rem;
  }
  .games-imgs-container {
    background-image: url(../imgs/decoracion-galery-desktop.svg);
    background-position-y: top;
    max-width: 56rem;
    gap: 1rem;
  }
  .joycon-introduction-title h2 {
    font-size: 3.2rem;
    max-width: 395px;
  }
  .joycon-subtitle {
    width: 100%;
    text-align: center;
    padding: 0rem 0 4rem 0;
  }
  .joycon-description {
    max-width: 700px;
  }
  .joycon-description p {
    font-size: 1.6rem;
  }
  .principal-features-title-container {
    position: relative;
  }
  .principal-features-star-decoration {
    position: absolute;
    display: block;
    right: 5rem;
    bottom: -3rem;
    width: 150px;
  }
  .principal-features-text-container {
    position: relative;
  }
  .principal-features-feats-container {
    max-width: 1000px;
    position: relative;
    z-index: 3;
  }
  .principal-features-luigi-decoration {
    display: block;
    position: absolute;
    bottom: -19rem;
    left: -5rem;
    z-index: 1;
  }

  .modes {
    max-width: 1200px;
    padding: 0;
  }
  .modes:nth-child(odd) {
    background-color: #ef8e05;
    flex-direction: row;
    flex-flow: row-reverse;
  }
  .modes:nth-child(even) {
    flex-direction: row;
  }
  .modes:nth-child(2) {
    background-color: #a7c1d3;
  }
  .modes:nth-child(4) {
    background-color: #58dfa9;
  }

  .modes div {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .modes:nth-child(odd) {
    background-color: #ef8e05;
  }
  .modes:nth-child(even) {
  }
  .modes:nth-child(4) {
    background-color: #58dfa9;
  }
  form {
    grid-template-columns: repeat(3, 1fr);
  }

  .submit-btn {
    grid-column: 1 / -1;
  }
  .form-container {
    max-width: 1000px;
  }
  footer {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 1rem;
  }
}
